body {
  margin: 0;
  padding: 0;
  background-color: coral;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
}

.img-holder {
  width: 400px;
  height: 400px;
  background-color: red;
}

.img-holder > img {
  width: 400px;
  height: 400px;
  opacity: 100%;
  animation: fade 0.5s ease-out;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.img-holder > img:not(:first-child) {
  display: none;
}

.move {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.5s ease;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.move:hover {
  background-color: black;
}

.move-back:active {
  transform: translateX(-20px);
}

.move-next:active {
  transform: translateX(20px);
}

.move > img {
  width: 30px;
  height: auto;

  filter: invert(1);
}

.circle-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.dot {
  border-radius: 2rem;
  background-color: lightgray;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.dot:hover {
  background-color: darkgray;
}

@media screen and (max-width: 550px) {
  .img-holder {
    width: 200px;
    height: 200px;
    background-color: red;
  }

  .img-holder > img {
    width: 200px;
    height: 200px;
  }
}
